body {
  background-color: black;
}

h3 {
  color: white;
  font-family: Sans-serif;
}

p {
  font-size: 100px;
  font-family: Sans-serif;
}

#container {
  margin-top: 100px;
  text-align: center;
}

#countdown {
  color: white;
}

#fri {
  color: white;
}

audio { 
   display:none;
}

a {
	color: white;
}

#soundbar {
	display: none;
}
